<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<body>
<div layout:fragment="content">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th><abbr>Nome</abbr></th>
                <th>Salário Bruto</th>
                <th>Desconto INSS</th>
                <th>Desconto IR</th>
                <th>Salário Líquido</th>
            </tr>
        </thead>
        <tr>
            <td>dsds</td>
            <td>sdsd</td>
            <td>dsds</td>
            <td>sdsd</td>
            <td>dsds</td>
        </tr>
        <tr>
            <td>dsds</td>
            <td>sdsd</td>
            <td>dsds</td>
            <td>sdsd</td>
            <td>dsds</td>
        </tr>
        <tr>
            <td>dsds</td>
            <td>sdsd</td>
            <td>dsds</td>
            <td>sdsd</td>
            <td>dsds</td>
        </tr>
    </table>

</div>
</body>
</html>